{{ $logo := (resources.Get "images/colim-logo.png").Resize "500x webp q85" }}
<header>
  <div class="container mx-auto flex flex-wrap justify-between p-5 flex-col md:flex-row items-center">
    <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center lg:items-center lg:justify-center mb-4 md:mb-0" href="{{ .Site.BaseURL }}">
      <img src="{{ $logo.RelPermalink }}" alt="{{ .Site.Title }}" description="The Central Ohio Lutheran Immigrant Mission Logo is a Crown of Thorns encircling a Dove, which itself has a cross at it's heart, and the organization's name ringing around it." width="{{ div $logo.Width 2 }}" height="{{ div $logo.Height 2 }}">
    </a>
    
    <nav class="flex lg:w-2/5 flex-wrap text-xl text-center my-8">
      {{- range .Site.Menus.main -}}
        <a class="bg-orange-200 mx-2 px-2 py-3 rounded shadow hover:shadow-md hober:bg-orange-300 hover:text-amber-800 text-amber-700" href="{{ .URL }}">
          {{ .Name }}
        </a>
      {{- end -}}
    </nav>

    <div class="lg:w-2/5 inline-flex lg:justify-end">
      <div id="donate-button-container">
        <div id="donate-button">
        </div>
      </div>
    </div>
  </div>
</header>