<section>
  <div class="container flex flex-col px-6 py-10 mx-auto space-y-6 lg:h-[32rem] lg:py-16 lg:flex-row lg:items-center">
    <div class="w-full lg:w-1/2">
      <div class="lg:max-w-lg">
        <h2 class="text-3xl font-bold tracking-wide text-gray-800 lg:text-5xl">
            Help The Central Ohio Lutheran Immigrant Mission
        </h2>

        <div class="mt-8 space-y-5">
          Please consider helping us support these wonderful churches within our Synod. We would appreciate it if you signed up for updates using the secure form below.
        </div>
      </div>

      <div class="w-full mt-8 bg-slate-100 border rounded-md lg:max-w-sm focus-within:border-blue-400 focus-within:ring focus-within:ring-blue-300 border-amber-400 focus-within:ring-opacity-40">

          <form class="subscribe-form validate flex flex-col lg:flex-row" action="//app.us14.list-manage.com/subscribe/post?u=4a4ba75e98c543a79c2fb6151&amp;id=79efa38262" method="POST"
            id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
            <input class="subscribe-email required email flex-1 h-10 px-4 py-2 m-1 text-gray-700 placeholder-gray-400 bg-transparent border-none appearance-none  focus:outline-none focus:placeholder-transparent focus:ring-0" id="mce-EMAIL" type="text" name="EMAIL"
              placeholder="Your email address">
            <button class="button button--big subscribe-button h-10 px-4 py-2 m-1 text-white transition-colors duration-200 transform bg-amber-500 rounded-md hover:bg-orange-400 focus:outline-none focus:bg-amber-400" id="membedded-subscribe" type="submit" name="subscribe">
              Join Us
            </button>
          </form>

        </div>
    </div>

    <div id="main" class="text-amber-600 hover:text-amber-700">
      <div class="youtube-player" data-id="1e4DUqkjZhA" />
    </div>

  </div>
</section>